body {color:black;font-family:'Times New Roman', Times, serif;background-color: rgb(193, 141, 241);}
table {background:rgb(241, 172, 23);}
.address {font-size: small;}
.listItems {color:rgb(110, 142, 47);}
.tableHeader {color:rgb(200, 200, 15);}
.listHeader {color:green;}
.p {color:aqua;}
.title {color:blue;}
.question {font-size:medium;color:rgb(55, 5, 172);}
.emoji {font-size: larger;}
li:hover{font-weight:bold;}
th:hover{color:red}

